*.iso
*.cso
*.bin
*.elf
*.prx
*.pmf
*.at3
*.wav
*.mp4
*.png
*.jpg
*.gim
*.ttf
*.otf
*.exe
*.dll
*.pkl
*.pickle
*.ppst
*.sav
*.zip
*.7z
*.xdelta
*.pyc
__pycache__/
.venv/
emulator/
members/
movies/
assets/
models/
input/
output/
.env*
